@use './partials/global' as *;
/* ############ hero ############# */
.hero {
    background-color: $nitro-pink;
    padding: 2.5rem 7.5rem;
    @extend .flex-space-between-row;
    flex-wrap: wrap;
    &__link-button {
        @extend .site-link-button;
    }
    &__link-container-border-box {
        @extend .site-link-container-border-box;
    }
    &__link-container {
        @extend .site-link-container;
    }
    &__details {
        max-width: 35%;
        vertical-align: top;
        margin-top: 5rem;
    }
    &__heading {
        margin: 0;
    }
    &__body {
        margin-bottom: 2.5rem;
    }
    &__image-container {
        text-align: right;
        width: 60%; 
    }
}
/* ############ hero end ############# */

/* ############ our-products ############# */
.our-products {
    background-color: $neutral-light-gray;
    margin: 0;
    padding: 3.75rem 7.5rem;
    &__link-button {
        @extend .site-link-button;
    }
    &__link-container-border-box {
        @extend .site-link-container-border-box;
    }
    &__link-container {
        @extend .site-link-container;
    }
    &__heading {
        text-align: center;
        margin: 0;
    }
    &__product-card-container {
        @extend .flex-space-between-row;
        flex-wrap: wrap;
        margin: 2.5rem 0;
    }
    &__product-card {
        width: 30%;
        border: 1px solid #fff;
        border-radius: 10px;
        @extend .flex-column;
        justify-content: flex-end;
        margin-bottom: 2.5rem;
        background-color: $neutral-white;
        box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }
    &__product-info {
        background-color: $nitro-pink;
        @extend .flex-space-between-row;
        align-items: center;
        padding: 2.5rem 1.25rem;
    }
    &__product-details {
        @extend .flex-column;
        justify-content: center;
        align-items: flex-start;
    }
    &__product-heading {
        margin: 0;
    }
    &__product-description {
        margin: 0;
        color: $neutral-gray;
    }
    &__product-price {
        margin: 0;
        color: $nitro-blue;
        font-size: 2.0625rem;
        @extend .bold;
    }
    &__product-image-container {
        @extend .flex-center-row;
    }
    &__product-image {
        height: 17rem;
        padding-bottom: 2.5rem;
        padding-top: 1rem;
    }
    &__link-container {
        margin-left: calc(50% - 5rem);
    }
}
/* ############ our-products end ############# */

/* ############ were-different ############# */
.were-different {
    @extend .flex-space-between-row;
    align-items: center;
    margin: 7.5rem 7.5rem 0 7.5rem;
    &__link-button {
        @extend .site-link-button;
    }
    &__link-container-border-box {
        @extend .site-link-container-border-box;
    }
    &__link-container {
        @extend .site-link-container;
    }
    &__details {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__heading {
        margin: 0;
    }
    &__icons {
        @extend .flex-space-between-row;
        margin: 1.25rem 0;
    }
    &__icon {
        width: 4rem;
    }
    &__image-container {
        position: relative;
        height: 24rem;
        width:  24rem;
        @extend .flex-center-row;
        align-items: center;
        border: 5px solid $nitro-blue;
    }
    &__image-container:hover > &__image {
        animation: rotation 2s linear infinite;
    }
    &__image-border-box {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-image: url(../assets/images/coldbrewbackground.png);
        background-position: center center;
        background-size: cover;
        height: 24.5rem;
        width:  24.5rem;
        z-index: -1;
    }
}
/* ############ were-different end ############# */

/* ############ discount ############# */
.discount {
    margin: 12.5rem 7.5rem;
    &__container {
        background-color: $neutral-graphite;
        width: 100%;
        @extend .flex-center-row;
        animation: flash 2.5s infinite linear;
    }
    &__details {
        margin: 0;
        padding: 2.5rem;
        font-size: 2.5rem;
        font-weight: 400;
        color: $neutral-white;
    } 
    &__details--bold {
        @extend .bold;
    }
}
/* ############ discount end ############# */

/* ############ keyframes ############# */
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
@keyframes flash {
    0% {
        background-color: $neutral-graphite;
    }
    50% {
        background-color: $nitro-blue;
    }
    100% {
        background-color: $neutral-graphite;
    }
}
/* ############ keyframes end ############# */