/* ############ site ############# */
$nitro-blue: #5BACC3;
$nitro-pink: #FFF0ED;
$neutral-graphite: #393939;
$neutral-light-gray: #F7F7F7;
$neutral-gray: #909090;
$neutral-white: #FFF;
html {
    font-size: 16px;
}
body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: $neutral-graphite;
    margin: 0;
}
.flex-center-row {
    display: flex;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-space-between-row {
    display: flex;
    justify-content: space-between;
}
.icons {
    width: 3.125rem;
}
.site-link-button {
    color: $neutral-white;
    border: 2px solid $neutral-graphite;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    font-size: 1.3125rem;
    font-weight: 400;
    width: 10rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.site-link-button:active {
    top: 5px;
    left: 5px;
}
.site-link-container {
    position: relative;
    height: 4rem;
    display: inline-block;
}
.site-link-container-border-box {
    position: absolute;
    top: 5px;
    left: 5px;
    border: none;
    background-color: $nitro-blue;
    width: 11.25rem;
    height: 4rem;
}
/* ############ site end ############# */

/* ############ typography ############# */
p {
    font-size: 1.125em;
}
h1,
h2 {
    font-size: 3.75rem;
    font-weight: 300;
}
h3  {
    font-size: 2.0625rem;
    font-weight: 300;
}
.bold {
    font-weight: 700;
}
/* ############ typography end ############# */

/* ############ main-nav ############# */
.main-nav {
    background-color: $nitro-pink;
    padding: 0.75rem 0;
    @extend .flex-space-between-row;
    align-items: flex-end;
    &__brand {
        @extend .flex-space-between-row;
        align-items: center;
    }
    &__logo {
        @extend .icons;
        margin-left: 1.25rem;
    }
    &__heading {
        margin: 0;
    }
    &__heading-link {
        text-decoration: none;
        color: $neutral-graphite;
    }
    &__list {
        display: flex;
        @extend .flex-space-between-row;
        list-style-type: none;
        padding-left: 1rem;
    }
    &__list-item {
        font-size: 1.3125rem;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
    }
    &__list-item-link {
        text-decoration: none;
        margin: 1.25rem;
        color: $neutral-graphite;
    } 
    &__list-item-link--active {
        color: $nitro-blue;
        text-decoration: none;
        margin: 1.25rem;
    } 
}
/* ############ main-nav end ############# */

/* ############ main-footer ############# */
.main-footer {
    background-color: $nitro-pink;
    position: relative;
    overflow: hidden;
    &__contents {
        padding: 5rem 7.5rem;
        @extend .flex-space-between-row;
    }
    &__coffee-beans {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 7rem;
        opacity: 0.25;
        background-image: url('../assets/logos/coffee-beans-logo-and-footer.svg');
        background-repeat:no-repeat;
    }
    &__coffee-beans--left {
        top: 1.25rem;
        left: -2.5rem;
        background-position: left top;
    }
    &__coffee-beans--right {
        bottom: 1.25rem;
        right: -2.5rem;
        background-position: right bottom;
    }
    &__heading {
        margin-top: 0;
    }
    &__details {
        margin: 0;
    }
    &__details--bold {
        @extend .bold;
    }
    &__social-media-icons {
        @extend .icons;
    }
}
/* ############ main-footer end ############# */